<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.booking.services.persistence.mapper.AppointmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.booking.services.persistence.model.Appointment">
		<id column="id" property="id" />
		<result column="studio_id" property="studioId" />
		<result column="doctor_id" property="doctorId" />
		<result column="customer_id" property="customerId" />
		<result column="service_id" property="serviceId" />
		<result column="status" property="status" />
		<result column="fee" property="fee" />
		<result column="create_time" property="createTime" />
		<result column="appointment_time" property="appointmentTime" />
		<result column="close_time" property="closeTime" />
		<result column="phone" property="phone" />
		<result column="field_b" property="fieldB" />
		<result column="field_c" property="fieldC" />
	</resultMap>

</mapper>
