<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.booking.services.persistence.mapper.StudioProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.booking.services.persistence.model.StudioProduct">
		<id column="id" property="id" />
		<result column="studio_id" property="studioId" />
		<result column="feature" property="feature" />
		<result column="fee" property="fee" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="cover" property="cover" />
		<result column="field_a" property="fieldA" />
		<result column="field_b" property="fieldB" />
		<result column="field_c" property="fieldC" />
	</resultMap>

</mapper>
